*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.grid{
    margin-top: 25px;
    width: 700px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
}

.grid .item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 45px;
    font-size: 55px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    transform: rotateY(180deg);
    transition: .3s;
}
.grid .flip{
    transform: rotateY(0deg);
    transition: .3s;
}
.grid .item::after{
    content: "";
    position: absolute;
    background: #EA2;
    width: 100%;
    /* opacity: 0.5; */
    height: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    transition: .3s;
    transform: rotateY(0deg);
}

.grid .item:hover{
    box-shadow: 0px 0px 5px rgba(0, 0,0, 0.8);
}

.grid .flip::after,.grid .match::after{
    transform: rotateY(180deg);
}